---
interface Props {
    title: string;
    building: string;
}
import { supabase } from "../supabase";

const { title, building } = Astro.props;
const image = supabase.storage
    .from("buildings")
    .getPublicUrl(`${building}/main.jpg`);
---

<div
    class="max-w-sm bg-black-tu border border-gray-200 rounded-lg shadow mx-2 my-3"
>
    <a href=`buildings/${building}`>
        <img class="rounded-t-lg" src=`${image.data.publicUrl}` alt="" />
    </a>
    <div class="p-5">
        <a href=`buildings/${building}`>
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                {title}
            </h5>
        </a>
        <a
            href=`buildings/${building}`
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-gold rounded-lg hover:bg-glen_mist focus:ring-4 focus:outline-none focus:ring-blue-300"
        >
            Visit
            <svg
                class="w-3.5 h-3.5 ml-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
        </a>
    </div>
</div>
