---
import { supabase } from "../../supabase";

import Layout from "../../layouts/Layout.astro";
import RoomLink from "../../components/RoomLink.astro";
export async function getStaticPaths() {
    let { data: Building, error } = await supabase
        .from("Building")
        .select(`BUILDING_CODE, BUILDING_NAME, Rooms ( COLLECTION_CODE )`)
        .in("BUILDING_CODE", ["HH", "SC", "YR"]);
    return Building?.map((b) => {
        return {
            params: { building: b.BUILDING_CODE },
            props: { b },
        };
    });
}

const { b } = Astro.props;
const image = supabase.storage.from("buildings").getPublicUrl(`${b.BUILDING_CODE}/main.jpg`);
---

<Layout title={b.BUILDING_NAME}>
    <div class="grid grid-cols-2 gap-3">
        <div class="col-span-1">
            <img src={image.data.publicUrl} class="h-auto" alt="" srcset="" />
        </div>
        <div class="col-span-1">
            <h1 class="text-3xl">List of {b.BUILDING_NAME} rooms</h1>
            <RoomLink building={b.BUILDING_CODE} collection_code={b.Rooms[0].COLLECTION_CODE}/>
        </div>
    </div>
</Layout>
