---
import { supabase } from "../../supabase";

import Layout from "../../layouts/Layout.astro";
import RoomCard from "../../components/RoomCard.astro";
export async function getStaticPaths() {
    let { data: Building, error } = await supabase
        .from("Building")
        .select(`BUILDING_CODE, BUILDING_NAME, Rooms ( COLLECTION_CODE,
        CONT_SYS_INTERFACE_TYPE,
        CONTENT_CAPTURE_TYPE,
        TWO_WAY_VIDEO,
        WIRELESS_PROJECTION,
        ASSISTIVE_LISTENING_TYPE,
        DEPARTMENT_CODE
        )`)
        .in("BUILDING_CODE", ["HH", "SC", "YR"]);
    return Building?.map((b) => {
        return {
            params: { building: b.BUILDING_CODE },
            props: { b },
        };
    });
}

const { b } = Astro.props;

// Get building image
const image = supabase.storage
    .from("buildings")
    .getPublicUrl(`${b.BUILDING_CODE}/main.jpg`);
const imageURL = image.data.publicUrl;
---

<Layout title={b.BUILDING_NAME}>
    <div class="">
        <img src=`${imageURL}` alt="">
        <div class="">
            <h1 class="text-3xl">{b.BUILDING_NAME}</h1>
            <RoomCard collection_code={b.Rooms[0].COLLECTION_CODE} room_type = {b.Rooms[0].COLLECTION_TYPE_CODE}, features = {[b.Rooms[0].CONT_SYS_INTERFACE_TYPE]}  />
        </div>
    </div>
</Layout>
